__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
build/
dist/
*.sqlite3
db.sqlite3
uploads/
.env
.env.local
*.log
venv/
.venv/
.idea/
.vscode/
*.egg-info/
pip-wheel-metadata/
node_modules/
*.swp
*.swo
